table, th, td {
  border: 1px solid;
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 3px;
  list-style: none;
  background-color: rgb(159, 159, 159);
}
nav li {
  padding: 3px;
  display: inline-block;
  background-color: rgb(198, 225, 249);
}
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}